body{
    margin:0
}

img {
    width: 20vh;
    height: 20vh;
}

.Header {
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.MainContainer {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}